*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}


body > div {
    margin: auto;
}

/* BLock */

.btn {
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    padding: 12px 48px;
    border-radius: 50px;
    cursor: pointer;
    min-width: 120px;
    transition: opacity .2s ease;
}

.btn--size-l {
    padding: 12px 56px;
}

.btn--size-s {
    padding: 12px 32px;
}


.btn:hover {
    opacity: 0.8;
}

.btn + .btn {
    margin-left: 16px;
}

.btn--success {
    background-color: #71be34 ;
}

.btn--warn {
    background-color: #ffb702 ;
}

.btn--danger {
    background-color: #ff623d ;
}


.btn--disabled {
    opacity: 0.5 !important;
    cursor: default;
}